@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model PasswordManager.Models.RecordForm

@{
    ViewData["Title"] = "About Password Manager";
    Layout = "_Layout";
}

<div>

<h1>Password Manager</h1>

<p>
    Hey there, this is a password manager that I have decided to make, so I can stop paying for commercial products.
    It's functionality is rather simplistic and in some aspects inspired by Security Keeper, but it is absolutely free
    to use for anyone.
</p>
<p>
    I'm currently working in updating the functionality and design, so the next features should be expected soon:
    <ul>
        <li>Copy button will copy password to clipboard</li>
        <li>There would be a generator for complex passwords</li>
        <li>Export function, that would let you copy out all your credentials any moment</li>
    </ul>
</p>

</div>